<div class="container">
  <div class="banner" >
    <%=cl_image_tag("#{@cocktail.photo.to_s.split("/").last}", :transformation=>[
      {height: 200, width: 940, crop: :fill, :background=>"#000", :color=>"#fff", :opacity=>60},
      {:overlay=>"text:helvetica_60_bold:#{@cocktail.name}", :gravity=>"center", :color=>"#fff"}
    ])%>
  </div>
  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <div class="product">
        <div class='product-body col-xs-6'>
          <h3><%= dose.ingredient.name %></h3>
          <p><%= dose.description %></p>
          <%= link_to "Delete", dose, method: :delete, class: "btn btn-danger btn-sm", confirm: "Are you sure" %>
        </div>
      </div>
    <% end %>
  </div>

  <h3 style="margin-top: 80px">Add dose!</h3>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, prompt: "Choose ingredient" %>
    <%= f.input :description %>
    <%= f.input :cocktail_id, as: :hidden, value: @cocktail.id %>
    <%= f.button :submit, "Create dose!", class: "btn-primary" %>
    <%= link_to "Back", cocktails_path(@dose.cocktail), class: "btn btn-primary" %>
  <% end %>

  </div>





<div class="container">

        <div class="col-xs-6 col-centered"></div>
        <div class="col-xs-6 col-centered"></div>
        <div class="col-xs-3 col-centered"></div>
        <div class="col-xs-3 col-centered"></div>
        <div class="col-xs-3 col-centered"></div>
    </div>
</div>

